#homepage {
  margin: auto;
  height: 50%;
}

body {
  background-color: orange;
} 

.grid {
  display: grid;
  grid-template-rows: max-content max-content max-content; 
  grid-template-columns: max-content max-content; 
  grid-row-gap: 5px;
  grid-column-gap: 5px;
}

.convert {
  grid-row: 3/4;
  grid-column: 1/2;
}

.display  {
  grid-row: 2/3;
  grid-column: 1/3;
}

.selector  {
  grid-row: 1/2;
  grid-column: 1/3;
}

select {
  background-color: maroon;
  color: white;
}