#display {
    display: grid;
    grid-template-columns: max-content max-content; 
    grid-template-rows: max-content;
    grid-row-gap: 10px;
}

#display input {
    background-color: lightgrey;
    border: 1px solid black;
}
